@font-face {
    font-family: "Inter Bold";
    src: url(./../fontes/Inter-Bold.ttf);
}

@font-face {
    font-family: "Inter Bold";
    src: url(./../fontes/Inter-Light.ttf);
}

@font-face {
    font-family: "Inter Bold";
    src: url(./../fontes/Inter-Regular.ttf);
}