/*TOPO*/

.topo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 0px;
    gap: 10px;
    position: relative;
    width: auto;
    height: 40px;
    background: #E5F4FF;
}

.topo__marca{
   font-family: var(--font-bold);
   
}
.topo__titulo{
color: var(--color-azul-escuro);
}
 



